# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
**/node_modules/
**/dist/
**/dist-ssr/
**/.vite/
**/.cache/
*.local

# Firebase deploy
/public/

# Previews e imagens geradas
**/src/previews/*.png
**/src/previews/*.jpg
**/src/previews/*.jpeg

# Arquivos temporários e de sistema
Thumbs.db
ehthumbs.db
.DS_Store
*.bak
*.tmp
*.orig
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# Editor config
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Arquivos de ambiente
.env
.env.*

# Arquivos de release (ajuste conforme necessário)
release/*.log
release/*.tmp
