@use '../mixins/containers' as containers;
@use '../mixins/layout' as layout;
@use '../mixins/grids' as grid;


// Seção curta (25vh)
.short-section {
  height: var(--section-height-sm);
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
}

// Seção média (50vh)
.mid-section {
  height: var(--section-height-md);
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
}

// Seção fullscreen (100vh)
.fullscreen-section {
  height: var(--section-height-full);
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
}

.custom-section {
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

// Conteúdo empilhado
.fullscreen-section .content,
.mid-section .content,
.short-section .content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

// 🔁 Seções com scroll vertical
.short-section--scroll {
  @extend .short-section;
  @include containers.scroll-vertical(var(--section-height-sm));
}

.mid-section--scroll {
  @extend .mid-section;
  @include containers.scroll-vertical(var(--section-height-md));
}

.fullscreen-section--scroll {
  @extend .fullscreen-section;
  @include containers.scroll-vertical(var(--section-height-full));
}

// 🔁 Seção com scroll horizontal (genérica)
.section-scroll-horizontal {
  @include containers.scroll-horizontal(100%);
}

.banner {
  @extend .fullscreen-section;
  @include layout.align-center;
}
.banner .content {
  @include layout.align-center;
}
.features {
  @extend .custom-section;
  @include grid.grid-4;
  
}
.resources-section {
  @extend .custom-section;
}
.resources-section h2{
   @include layout.align-center-column;
}