:root {
  // Espessuras de borda
  --border-none: 0;
  --border-thin: 1px;
  --border-base: 2px;
  --border-thick: 4px;

  // Estilos de borda
  --border-style: solid;
  --border-style-dashed: dashed;
  --border-style-dotted: dotted;
  --border-style-double: double;
  --border-style-none: none;
}
