@mixin list-horizontal($gap: var(--nav-gap-horizontal)) {
  display: flex;
  flex-direction: row;
  gap: #{$gap};
}

@mixin list-vertical($gap: var(--nav-gap-vertical)) {
  display: flex;
  flex-direction: column;
  gap: #{$gap};
}
@mixin list-none {
  display: flex;
  gap: 0;
}
@mixin list-with-icons($gap: var(--spacing-sm)) {
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin list-responsive($min: 12rem, $gap: var(--spacing-sm)) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}
