@mixin scroll-vertical($height: auto, $padding: var(--spacing-sm)) {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: #{$height};
  padding-block: #{$padding};
  padding-inline: var(--spacing-none);
  scrollbar-gutter: stable;
}

@mixin scroll-horizontal($width: auto, $padding: var(--spacing-sm)) {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: #{$width};
  padding-inline: #{$padding};
  padding-block: var(--spacing-none);
  white-space: nowrap;
  scrollbar-gutter: stable;
}
