// 🔲 Aplica um raio padrão
@mixin radius($size: var(--radius-md)) {
  border-radius: $size;
}

// 🟦 Raio total (círculo)
@mixin radius-circle {
  border-radius: var(--radius-circle);
}

// 🟪 Raio pequeno
@mixin radius-sm {
  border-radius: var(--radius-sm);
}

// 🟨 Raio grande
@mixin radius-lg {
  border-radius: var(--radius-lg);
}

// 🟥 Raio removido
@mixin radius-none {
  border-radius: var(--radius-none);
}
